---
import Layout from "@layouts/Layout.astro";

import Section from "@components/Section.astro";
import About from "@components/sections/About.astro";
import Header from "@components/Header.astro";
import Education from "@components/sections/Education.astro";
import Experience from "@components/sections/Experience.astro";
import Hero from "@components/sections/Hero.astro";
import Skills from "@components/sections/Skills.astro";
import { ui, resume } from '../i18n/ui'
import type { Basics} from "src/types/resume.type";

const { es } = ui
const { basics, work, education, skills }: { basics: Basics, work: any, education: any, skills: any  } = resume.es
---

<Layout title="Curriculum Orlando Bernales">
	<Header />
	<main>
		<Hero basics={basics}/>
		<Section title={es["nav.about"]}>
			<About basics={basics} />
		</Section>
		<Section title={es["nav.experience"]}>
			<Experience work={work} />
		</Section>
		<Section title={es["nav.education"]}>
			<Education education={education}/>
		</Section>
		<Section title={es["nav.skills"]}>
			<Skills skills={skills}/>
		</Section>
	</main>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		margin-top: -4rem;
		width: 100%;
	}
</style>
